.pad {
    margin-right: 15px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table tr {
  line-height: 100px;
  min-height: 100px;
  height: 100px;
}

.table img {
  max-width: 75px;
  max-height: 75px;
  border-radius: 20%;
}

.clear {
  cursor: pointer;
  pointer-events: all;
}

.error {
    color: red;
}
