<html>
<head>
    <title>Address Book</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <!--<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>-->
    <script src="js/app.js"></script>
</head>
<body ng-app="AddressBook" ng-controller="MainCtrl">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Address Book</h1>
        </div>

        <!-- LIST CONTACTS -->
        <div ng-repeat="contact in contacts">
            {{contact.name}}
        </div>

        <!-- ADD CONTACT -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addContactModal">
            Add Contact
        </button>

        <div class="modal fade" id="addContactModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form name="contactForm" ng-submit="addContact(contactForm)">
                            <h2>Add New Contact</h2>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input class="form-control" type="text" id="name" ng-model="name">
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile:</label>
                                <input class="form-control" type="text" id="mobile" ng-model="mobile">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" id="email" ng-model="email">
                            </div>
                            <div class="form-group">
                                <label for="image_url">Image URL:</label>
                                <input class="form-control" type="text" id="image_url" ng-model="url">
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-primary pull-right pad">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Contact
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEARCH CONTACT (FILTER ON DISPLAYED LIST) -->

    </div>
</div>
</body>
</html>